*{
  padding:0px;
  margin: 0px;
}

.c1{
    width: 100%;
    height: 140px;
    background: #1B3D70;
    padding-top:30px;
}
.c2{
  width: 310px;
  height: 85px;
  background: #1B3D70;
  margin-left: 200px;

  padding-top:  10px;
  float:left;
}
.c3{
  width: 310px;
  height: 85px;
  background: #1B3D70;
  margin-right: 200px;
  padding-top:  10px;
  float: right;
}
#nv{
  background-color:#BB8800;
  height:40px;
  padding-top: 20px;
  text-align: center;
}
.men{
  background: #BB8800;
  display: inline;
  margin-left: 40px;
}
a{
  color:white;
  text-decoration: none;
}
